<div class="card m-5">
  <h4 class="card-header">Add new fishing event</h4>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group required">
        <label class="control-label" for="location"> Location</label>
        <input class="form-control" type="text" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
        <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
          <div *ngIf="f.location.errors.required">Location is required</div>
        </div>
      </div>
      <div class="form-group required">
        <label class="control-label" for="date"> Date</label>
        <input class="form-control" type="date" formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
        <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
          <div *ngIf="f.date.errors.required">Date is required</div>
        </div>
      </div>
      <div class="form-group required">
        <label class="control-label" for="persons"> Persons</label>
        <input class="form-control" type="number" min="1" formControlName="persons" [ngClass]="{ 'is-invalid': submitted && f.persons.errors }">
        <div *ngIf="submitted && f.persons.errors" class="invalid-feedback">
          <div *ngIf="f.persons.errors.required">Persons is required</div>
        </div>
      </div>
      <div formArrayName="stats">
        <div class="card m-2" *ngFor="let stat of stats.controls; let i = index">
          <div formGroupName="{{ i }}">
            <div class="card-header form-row">
              <div class="d-inline-block form-group col">
              <label class="control-label" [attr.for]="'fishing_method' + i"> Fishing method</label>
              <select  class="custom-select" formControlName="fishing_method" [id]="'fishing_method' + i" [ngClass]="{ 'is-invalid': submitted && stat.get('fishing_method').errors }">
                <option *ngFor="let m of methods; let k=index" [value]="methods[k].key"> {{ methods[k].value }} </option>
              </select>
              <div *ngIf="submitted && stat.get('fishing_method').errors" class="invalid-feedback">
                <div *ngIf="stat.get('fishing_method').errors.required">Fishing method is required</div>
              </div>
              </div>
              <div class="d-inline-block float-right" *ngIf="stats.length > 1"> <!-- Event must have at least one fishing method -->
                <div class="form-group col">
                  <div class="text-danger">
                    <a style="cursor: pointer" (click)="removeStat(i)">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div formArrayName="catches">
              <div class="card-body">
                <div *ngFor="let control of getCatches(stat).controls; let j = index">
                  <div formGroupName="{{ j }}" class="form-row">
                    <div class="form-group col">
                      <label class="control-label" [attr.for]="'fish_species' + j"> Fish species</label>
                      <select class="custom-select" formControlName="fish_species" [id]="'fish_species' + j" [ngClass]="{ 'is-invalid': submitted && control.get('fish_species').errors }">
                        <option *ngFor="let species of fishSpecies; let k=index" [value]="fishSpecies[k].key"> {{ fishSpecies[k].value }} </option>
                      </select>
                      <div *ngIf="submitted && control.get('fish_species').errors" class="invalid-feedback">
                        <div *ngIf="control.get('fish_species').errors.required">Fishing method is required</div>
                      </div>
                    </div>
                    <div class="form-group col">
                      <label [attr.for]="'fish_details' + j"> Weight</label>
                      <input class="form-control" type="text" formControlName="fish_details" [id]="'fish_details' + j"/>
                    </div>
                    <div class="form-group col">
                      <label class="control-label" [attr.for]="'lure' + j"> Lure</label>
                      <select class="custom-select" formControlName="lure" [id]="'lure' + j">
                        <option *ngFor="let lure of lures; let k=index" [value]="lures[k].key"> {{ lures[k].value }} </option>
                      </select>
                    </div>
                    <div class="form-group col">
                      <label [attr.for]="'lure_details' + j"> Lure details</label>
                      <input class="form-control" type="text" formControlName="lure_details" [id]="'lure_details' + j"/>
                    </div>
                    <div class="form-group col">
                      <button type="button" class="close form-control" aria-label="Close" (click)="removeCatch(i, j)">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <button class="btn btn-outline-primary btn-sm" (click)="addCatch(i)" id="addCatchBtn"> Add Catch </button>
                  </div>
                  <div class="form-group ml-2">
                    <div class="custom-control custom-checkbox">
                      <input class="custom-control-input" type="checkbox" [id]="'noCatches' + i" (click)="disableAddCatch()">
                      <label class="custom-control-label" [attr.for]="'noCatches' + i">
                        No catches
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary btn-sm" (click)="addStat()"> Add Fishing Method </button>
    </form>
  </div>
  <div class="card-footer text-center">
    <button class="btn btn-primary" (click)="createEvent()"> Save </button>
  </div>
</div>
