<div class="card m-4">
  <h4 class="card-header">Add new fishing event</h4>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="location"> Location</label>
        <input class="form-control" type="text" formControlName="location">
      </div>
      <div class="form-group">
        <label for="date"> Date</label>
        <input class="form-control" type="date" formControlName="date">
      </div>
      <div class="form-group">
        <label for="persons"> Persons</label>
        <input class="form-control" type="number" min="1" formControlName="persons">
      </div>
      <div formArrayName="stats">
        <div class="card m-2" *ngFor="let stat of stats.controls; let i = index">
          <div formGroupName="{{ i }}">
            <div class="card-header">
              <label [attr.for]="'fishing_method' + i"> Fishing method</label>
              <select  class="form-control" formControlName="fishing_method" [id]="'fishing_method' + i">
                <option *ngFor="let m of methods" [value]="m"> {{ m }} </option>
              </select>
            </div>
            <div formArrayName="catches">
              <div class="card-body">
                <div *ngFor="let control of getCatches(stat).controls; let j = index">
                  <div formGroupName="{{ j }}" class="form-row">
                    <div class="form-group col">
                      <label [attr.for]="'fish_species' + j"> Fish species</label>
                      <input class="form-control" type="text" formControlName="fish_species" [id]="'fish_species' + j"/>
                    </div>
                    <div class="form-group col">
                      <label [attr.for]="'fish_details' + j"> Weight</label>
                      <input class="form-control" type="text" formControlName="fish_details" [id]="'fish_species' + j"/>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <button class="btn btn-primary" (click)="addCatch(i)"> Add Catch </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button (click)="addStat()"> Add Fishing Method </button>
      <button (click)="testCheck()"> check </button>
    </form>
  </div>
</div>
