<div class="card m-5">
  <div class="card-header">
    {{this.fishingEvent.date}} {{this.fishingEvent.location}}
  </div>
  <div class="card-body">
    <p class="card-text"> Henkilöt {{this.fishingEvent.persons}} </p>
    <div class="card" *ngFor="let stat of fishingEvent.stats">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active text-dark font-weight-bold"> {{ stat.fishing_method }} </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-info" style="cursor: pointer"> Tallenna </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger"> Poista </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th> Kalalaji </th>
            <th> Paino </th>
            <th> Uistin </th>
            <th> Uistimen lisätiedot </th>
          </tr>
          </thead>
          <tbody *ngFor="let fCatch of stat.catches">
          <tr>
            <td>
              <label>
                <input [defaultValue]="fCatch.fish_species">
              </label>
            </td>
            <td> {{ fCatch.fish_details }} </td>
            <td> {{ fCatch.lure }} </td>
            <td> {{ fCatch.lure_details }} </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
