<div class="card">
  <div class="card-header bg-dark text-white">
    {{this.fishingEvent.date}} {{this.fishingEvent.location}}
  </div>
  <form [formGroup]="form">
    <div class="card-body">
      <p class="card-text"> Henkilöt {{this.fishingEvent.persons}} </p>

        <div class="card m-1">
            <div class="card-header bg-dark text-white">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item" *ngFor="let stat of fishingEvent.stats; let i = index">
                  <a *ngIf="methodIndex == i; else unActive" class="nav-link active m-0 p-1">
                    <select  class="custom-select font-weight-bold" formControlName="fishing_method" [id]="'fishing_method' + methodIndex">
                      <option *ngFor="let m of methods; let k=index" [value]="methods[k].value"> {{ methods[k].value }} </option>
                    </select>
                  </a>
                  <ng-template #unActive>
                    <a class="nav-link p-2 m-0 disabled text-white">
                      {{stat.fishing_method}}
                    </a>
                  </ng-template>
                </li>
                <li *ngIf="methodIndex == -1" class="nav-item">
                  <a class="nav-link active m-0 p-1">
                    <select  class="custom-select font-weight-bold" formControlName="fishing_method" [id]="'fishing_method' + methodIndex">
                      <option *ngFor="let m of methods; let k=index" [value]="methods[k].value"> {{ methods[k].value }} </option>
                    </select>
                  </a>
                </li>
              </ul>
            </div>
            <div formArrayName="catches">
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th> Kalalaji </th>
                    <th> Paino </th>
                    <th> Uistin </th>
                    <th> Uistimen lisätiedot </th>
                    <th class="text-danger">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let control of getCatches().controls; let i = index">
                    <tr formGroupName="{{ i }}">
                      <td>
                        <select class="custom-select custom-select-sm" formControlName="fish_species" [id]="'fish_species' + i" >
                          <option *ngFor="let species of fishSpecies; let k=index" [value]="fishSpecies[k].value"> {{ fishSpecies[k].value }} </option>
                        </select>
                      </td>
                      <td>
                        <input class="form-control form-control-sm" type="text" formControlName="fish_details" [id]="'fish_details' + i"/>
                      </td>
                      <td>
                        <select class="custom-select custom-select-sm" formControlName="lure" [id]="'lure' + i">
                          <option *ngFor="let lure of lures; let k=index" [value]="lures[k].value"> {{ lures[k].value }} </option>
                        </select>
                      </td>
                      <td>
                        <input class="form-control form-control-sm" type="text" formControlName="lure_details" [id]="'lure_details' + i"/>
                      </td>
                      <td>
                        <button type="button" class="close mt-1" aria-label="Close" (click)="removeCatch(i)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </td>
                    </tr>
                </tbody>
                </table>
                <div class="form-group">
                  <button class="btn btn-outline-primary btn-sm" id="addCatchBtn" (click)="addCatch()"> Add Catch </button>
                </div>
              </div>
            </div>

        </div>
    </div>
  </form>
  <div class="card-footer text-center">
    <button class="btn btn-primary mr-3" (click)="submit()"> Save </button>
    <button class="btn btn-outline-danger ml-3"> Discard changes</button>
  </div>
</div>
